@model FOS.Shared.IZHomeData
@{
    ViewBag.Title = "MCO Reading Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN THEME CUSTOMIZER-->
        <!-- END THEME CUSTOMIZER-->
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title"></h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">Setup</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="#">MCO Reading Sheet</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- BEGIN EDITABLE TABLE widget-->
<div class="row-fluid">
    <div class="span12">
        <div class="grid-item">
            <label>Month:</label>
            <div class="controls" style="margin-left: 0px">
                @Html.DropDownListFor(model => model.MonID, new SelectList(Model.Months, "ID", "Name"), new { @class = "" })
            </div>
        </div>
        <div class="grid-item" style="margin-top: 28px;">
            <button type="submit" id="ApplyFilter" class="btn btn-primary">
                <i class="icon-ok icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Apply Filter</strong></span>
            </button>
            @*<button type="submit" id="Clear" class="btn btn-primary">
                    <i class="icon-remove icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Clear</strong></span>
                </button>
                <button id="StartAutoPagination" class="btn btn-primary">
                    <i class="icon-ok icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong> Start AP</strong></span>
                </button>
                <button id="EndAutoPagination" class="btn btn-primary">
                    <i class="icon-remove icon-white" style="padding-right: 2px"></i><span style="width:50px"><strong>Stop AP</strong></span>
                </button>*@
        </div>
        <!-- BEGIN EXAMPLE TABLE widget-->
        <div class="widget green">
            <div class="widget-title">
                <h4 class="text-center"><strong>MCO Report Detail</strong></h4>
                <span class="tools">
                    @*<a href="javascript:;" class="icon-chevron-down"></a>*@
                    @*<a href="javascript:;" class="icon-remove"></a>*@
                </span>
            </div>
            <div class="widget-body">
                <div>
                    <div class="clearfix">
                        @*<div class="btn-group">
                                <button id="editable-sample_new" class="btn green">
                                    Add New <i class="icon-plus"></i>
                                </button>
                            </div>*@
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="datatab" style="width: 100%;">
                        <thead>
                            <tr class="align-center" style="background-color:#1969b1; color:white;">
                                <th>Sr #</th>
                                <th>Reference No</th>
                                <th>Address</th>
                                <th>Meter No</th>
                                <th>Previous Reading</th>
                                <th>Present Reading</th>
                                <th>Unit Consumed</th>
                                <th>Comments</th>
                                <th>Picture</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE widget-->
    </div>
</div>
<!-- END EDITABLE TABLE widget-->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>


    //$(document).ready(function () {

    //    $('#DateFrom').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
    //    $('#DateFrom').datepicker({ dateFormat: "dd-M-yy" });
    //    $('#DateFrom').trigger('change');

    //    $('#AwardDate').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
    //    $('#AwardDate').datepicker({ dateFormat: "dd-M-yy" });
    //    $('#AwardDate').trigger('change');

    //    $('#DateTo').css({ "height": "22px", "width": "202px", "margin-bottom": "0px" });
    //    $('#DateTo').datepicker({ dateFormat: "dd-M-yy" });
    //    $('#DateTo').trigger('change');

    //});


    function GenerateDetailGrid() {

        //$('#datatab tfoot th').each(function () {
        //    $(this).html('<input type="text" />');
        //});
        var oTable = $('#datatab').DataTable({
            "aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
            "iDisplayLength": 10,
            "paging": true,
            "pagingType": "full_numbers",
            "serverSide": true,
            "bRetrieve": true,
            "bDestroy": true,
            "autoWidth": true,
            "ajax":
            {
                "type": "POST",
                "url": '@Url.Action("MCO", "IZWebViews")',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data)
                {
                    data.monthID = $('#MonID').val();
                    return data = JSON.stringify(data);

                },

            },
            "fnDrawCallback": function (osetting) {

                var UpdateCheck = "0";
                var DeleteCheck = "0";

                if (UpdateCheck == "@HttpContext.Current.Session["UpdateCheck"]") { $(".edit").css("display", "none"); }
                else {
                    $(".edit").on("click", function () {

                        ClearForm();
                        $('#create').text('Update');

                        var CityID = $(this).attr("data-id");

                        try
                        {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("GetByID", "IZMonth")",
                                data: { ID: CityID },

                                success: function (Response) {
                                    debugger;
                                    if (Response != null) {
                                        $('#ID').val(Response.ID);
                                        $("#Name").val(Response.Name);
                                        if (Response.IsActive == true) {
                                            $("#Active").prop("Checked", true);
                                        }
                                        else {
                                            $("#isactive").prop("Checked", true);
                                        }



                                        $('html, body').animate({
                                            scrollTop: $("#main-content").offset().top
                                        }, 500);

                                        // $("#RegionID").focus();
                                        //location.reload();
                                    }
                                    else { alertify.error('Server Is Not Responding.'); }
                                }
                            });
                        }
                        catch (ex) { }

                    });
                }

                if (UpdateCheck == "@HttpContext.Current.Session["DeleteCheck"]") { $(".delete").css("display", "none"); }
                    else {
                        $(".delete").on("click", function () {

                            var CityID = $(this).attr("data-id");

                            // confirm dialog
                            alertify.confirm("Are You Sure You Want To Delete This Record ?  ", function (e) {
                                if (e) {

                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("DeleteProjects", "Setup")",
                                        data: { cityID: CityID },
                                        success: function (data) {

                                            if (data == "0") {
                                                alertify.success('Record Deleted Successfully');
                                                var table = $('#datatab').DataTable();
                                                table.row(this).remove().draw(false);
                                            }

                                            else { alertify.error('This City Assign To Someone, First Delete That Then You Can Able To Delete This City.'); }
                                        }

                                    });

                                } else { }
                            });

                        });
                    }
                $("#ApplyFilter").click(function () {
                    debugger
                    oTable.clear().draw();
                });
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    $("td:first", nRow).html(iDisplayIndex + 1);
                    return nRow;
                },
                "oLanguage": { "sSearch": "Search : " },
                "sDom": 'lftipr',
                "processing": true,
                "deferRender": true,
                "bSelect": true,
                "columns": [
                    { "data": "ID" , "sClass": "center-align-td"},
                    { "data": "ReferenceNo", "sClass": "center-align-td"},
                    { "data": "Adress" ,"sClass": "center-align-td"},
                    { "data": "MeterNo" ,"sClass": "center-align-td"},
                    { "data": "PreReading" ,"sClass": "center-align-td"},
                    { "data": "CurrentReading" ,"sClass": "center-align-td"},
                    { "data": "UnitConsume" ,"sClass": "center-align-td"},
                    { "data": "ReadingFeadback" ,"sClass": "center-align-td"},
                    { "data": "Image" ,"sClass": "center-align-td"},

               //{
               //    "sClass": "center-align-td",
               //    "mData": null,
               //    "bSortable": false,
               //    "mRender": function (data, type, row) {
               //        return '<button class="btn btn-success edit" data-id=' + row.ID + '>' + '<i class=icon-pencil></i>' + '</button>';
               //    }
               //}
                ],
                "order": [3, "dec"]

            });

        }

        $(document).ready(function () {

            $("#liSetup,#liCity").addClass("active");

            var WriteCheck = "0";

            if (WriteCheck == "@HttpContext.Current.Session["WriteCheck"]") {
            // $("#btnNew").css("display", "none");
            $("#btnNew").attr("disabled", true);
        }
        else {
            }



            $("#ClientId").change(function () {
            $('#Name').val('');
            $('#CityCode').val('');
            $('#ShortCode').val('');
            $('#datatab').dataTable().fnDestroy();
            GenerateDetailGrid();

        });

        $("#btnRefresh").click(function () {
            ClearForm();
        });

        GenerateDetailGrid();

    });
</script>
<script type="text/javascript">
function ClearForm() {
        $('#Name').val("");
        $('#SapNo').val("");
        $('#DateFrom').val("");
        $('#DateTo').val("");
        $('#Duration').val("");
        $('#ContractTitle').val("");
        $('#ContractNo').val("");
        $('#AONO').val("");
        $('#AwardDate').val("");
        $('#Create').text('Create');
    }

    function OnSuccess(response) {

        if (response == "1") {
            alertify.success("Month Active Successfully.");
            $('#create').text('Create');
            var dt = $('#datatab').DataTable();
            dt.ajax.reload();
            ClearForm();
        }
        else if (response == "0") {
            alertify.error("Unable To Save Project  .");
        }
        else if (response == "2") {
            alertify.error("Month Already Exist");

        }
        else if (response == "3") {
            alertify.success("Updated Successfully");
            $('#create').text('Create');
            var dt = $('#datatab').DataTable();
            dt.ajax.reload();
            ClearForm();
        }
        else {
            alertify.error(response);
        }
        //location.reload();

    }

    function OnFailure(response) {
        if (response.status == 422) {
            var errors = JSON.parse(response.responseText);
            alertify.error(errors.errors);
        }
        else {
            alertify.error(response);
        }
    }</script>